/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

* {margin: 0; padding: 0; }
html {font-family: droid sans, sans-serif; height: 100%; overflow: auto;
background: black url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAACvAAAAABAQAAAAAqT0YHAAAAAnRSTlMAAHaTzTgAAAAPSURBVHgBY/g/tADD0AIAIROuUgYu7kEAAAAASUVORK5CYII=) center top repeat-y;
}
body {height: 100%; overflow: auto; }
h1 {padding: 10px; font-size: 18px; color: #5d5d5d; background: #666; line-height: 1em; color: #fff; }
.controlPanel {position: fixed; width: 100%; top: 0; left: 0; z-index: 1; }
.controlPanel > p {float: right; padding: 5px 3% 0 0; }

#hamburgerMenu {
    margin: 5px; padding: 1px; 
    width: 40px;
    float: right;
    background: #fff; 
    border-radius: 4px;
    cursor: pointer;
}
#hamburgerMenu span {
    margin: 3px; 
    height: 5px;
    display: block;
    background: #666;
    border-radius: 2px;
}

/* Buttons */
fieldset {
    padding: 30px 3% 10px;
    position: relative;
    box-sizing: border-box;
    width: 50%;
    float: left;
    font-size: 24px;
    border: 0 none;
    color: #fff; 
}
#me {color: #000; }

legend {font-size: 18px; position: absolute; top: 5px; left: 4%; }
fieldset p {width: 30%; float: left; text-align: center; margin: 0; }

h4, h5 {width: 19%; cursor: pointer; }
h4 {width: 35%; height; 100%; }
h4, h5 {
    background: #bbb;
    float: left;
    text-align: center;
    color: #000;
    border-radius: 6px; 
}

/* Poison */
label {display: block; clear: both; font-size: 55%; text-align: center; }
div.poison {font-size: 70%; padding: 0; width: 40%; margin: 0 auto; clear: both; overflow: auto; }
div.poison p {width: 33%; color: #0c0; }
div.poison h5 {width: 33%; }

/* Log */
#log {padding: 145px 0 65px; font-family: monospace; }
#log > div {border-top: 1px solid #aaa; overflow: auto; }
#log > div:first-child {border-top: 0 none; }
#log > div > div {
    padding: 4px 3%;
    width: 50%;
    float: left;
    overflow: auto;
    box-sizing: border-box;
}
body::-webkit-scrollbar { 
    display: none; 
}
#log p {text-align: right; color: #000; font-size: 20px; font-weight: bold; }
#log p span {font-weight: normal; padding-right: 0.5em; }
#log p span.gain {color: #f00; }
.you_log {background: #000; }
#log .you_log p {color: #fff; }
#log div p.poison {color: #0c0; }

/* Number picker */
#numberPicker, #mainMenu {
    display: none;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;
}
#numberPicker > div {
    margin: 5% 0 0 20%;
    display: table; border-collapse: collapse; 
    width: 60%; height: 90%;
}
#numberPicker > div > div {display: table-row}
#numberPicker > div > div > p {
    display: table-cell;
    background: #fff; border: 1px solid #ddd;
    text-align: center; vertical-align: middle;
    cursor: pointer;
}
#mainMenu > div {
    margin: 5% 0 0 10%;
    width: 80%;
    background: #fff;
}
#mainMenu > div p {
    padding: 10px;
    border-bottom: 1px solid #666;
}

#commandBar {position: fixed; width: 100%; bottom: 0; left: 0; z-index: 1; text-align: right; }
#commandBar fieldset {padding: 5px 10px; width: 100%; display: block; background: #666; }
#commandBar #nextTurn {font-size: 20px; padding: 0.1em 1em 0; background: #ddd; color: #000; display: inline-block; border-radius: 6px; }

#divider {height: 100%; width: 2%; background: #fff; position: absolute; top: 0; left: 49%; 
    display: none; 
}

/* hiding poison for now - come up with a way to pop it back in if needed */
div.poison, label {display: none; }
#log {padding-top: 105px; }

/*  iOS 7 statusbar */
html.ios7 h1 {padding-top: 20px; }
html.ios7 .controlPanel > p {padding-top: 20px; }
html.ios7 #log {padding-top: 125px; }
