/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

* {margin: 0; padding: 0; }
html {font-family: droid sans, sans-serif; padding: 0 1%; height: 100%; overflow: auto; }
h1 {padding: 5px; font-size: 18px; color: #5d5d5d; background: #e5e5e5; border-bottom: 1px solid #dbdbdb; }
.controlPanel {position: fixed; width: 100%; top: 0; left: 0; z-index: 1; }
.controlPanel > p {float: right; padding: 5px 3% 0 0; }

/* Buttons */
fieldset {
    margin: 10px 1%; padding: 5px 2% 10px;
    width: 44%;
    float: left;
    font-size: 24px;
    border: 0 none;
    background: #666;
    color: #fff; 
}
legend {padding: 0 4px; background: #666; border-radius: 5px; font-size: 18px; }
fieldset p {width: 30%; float: left; text-align: center; margin: 0; }

h4, h5 {width: 19%; cursor: pointer; }
h4 {width: 35%; height; 100%; }
h4, h5 {
    background: #ddd;
    border-radius: 5px;
    float: left;
    text-align: center;
    color: #000;
}

/* Poison */
label {display: block; clear: both; padding-top: .5em; font-size: 55%; text-align: center; }
div.poison {font-size: 70%; padding: 0; width: 40%; margin: 0 auto; clear: both; overflow: auto; }
div.poison p {width: 33%; color: #0e0; }
div.poison h5 {width: 33%; }

/* Log */
#log {padding: 145px 0 85px; font-family: monospace; }
#log > div {border-bottom: 1px solid #aaa; overflow: auto; }
#log > div > div {
    margin: 0 1%; padding: 4px 2%;
    width: 43%;
    float: left;
    border: 1px solid #fff;
    overflow: auto;
}
#log p {text-align: right; color: #000; font-size: 20px; font-weight: bold; }
#log p span {font-weight: normal; padding-right: 0.5em; }
#log p span.gain {color: #f00; }
#log p.poison {color: #0c0; }
.me_log {margin-right: 3%; }

/* Number picker */
#numberPicker {
    display: none;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;
}
#numberPicker > div {
    margin: 5% 0 0 20%;
    display: table; border-collapse: collapse; 
    width: 60%; height: 90%;
}
#numberPicker > div > div {display: table-row}
#numberPicker > div > div > p {
    display: table-cell;
    background: #fff; border: 1px solid #ddd;
    text-align: center; vertical-align: middle;
    cursor: pointer;
}

#commandBar {position: fixed; width: 100%; bottom: -0.5%; left: 0; z-index: 1; text-align: right; }
#commandBar fieldset {width: 94%; padding: 5px 2%;}
#commandBar #nextTurn {font-size: 20px; padding: 0.1em 1em 0; border-radius: 5px; background: #ddd; color: #000; display: inline-block; }

#divider {height: 100vh; width: 2%; background: #fff; position: absolute; top: 0; left: 49%; }

/* hiding poison for now - come up with a way to pop it back in if needed */
div.poison, label {display: none; }
#log {padding-top: 105px; }

/*  iOS 7 statusbar */
html.ios7 h1 {padding-top: 20px; }
html.ios7 .controlPanel > p {padding-top: 25px; }
html.ios7 #log {padding-top: 125px; }
